NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
ALLOW_DESTRUCTIVE_DEV_DB_OPERATIONS=false
NEXT_PUBLIC_APP_NAME=Together in Amanah
NEXT_PUBLIC_FEEDBACK_FORM_URL=
